svg(width='0' height='0' aria-hidden='true')
	// expand filter area, make lengths relative to box size
	filter#glow(x='-50%' y='-200%' width='200%' height='500%' 
	            primitiveUnits='objectBoundingBox')
		// create blurred copy, different x and y axis blur
		feGaussianBlur(stdDeviation='.025 .2')
		// bump up (value > 1) saturation of blurred copy
		// not really necessary, but why not
		feColorMatrix(type='saturate' values='1.3')
		// slap original on top of blurred & saturated copy
		// in = top layer, defaults to result of previous fe
		// in2 = bottom layer, defaults to previous fe result
		// which is what we want, so we don't set it
		feBlend(in='SourceGraphic')

// no text duplication in the markup
h1 gradient text glow